*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
}

section {
  margin-top: 5em;
  margin-bottom: 3em;
}

.container {
  padding: 0 0.6em;
}

.inside-container {
  margin: 1.3em auto;
  width: 75%;
}

.big-area__image {
  margin: 0.5em auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0.7em;
}

.headline {
  font-size: 1.5rem;
  line-height: 1.65;
  font-weight: 500;
}

/* ----------------------------------------------------- */
/* SECTIONS */
/* ----------------------------------------------------- */

/* Header */
.header {
}

.header__container {
  padding: 1.5em 0em;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333333;
  font-weight: 800;
  /* line-height: 2; */
}

.open-nav {
  border: 0;
  background: 0;
  color: #000000;
  cursor: pointer;
  padding: 0.5em;
  margin-left: auto;
  font-size: 1.1em;
}

.header__nav {
  display: none;
}

/* Hero */
.hero {
}

.title-area__subtitle {
  font-size: 0.75rem;
  color: #2d9cdb;
}

.hero__contact-area {
}

.hero__contact-area__copy {
  font-size: 0.75rem;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 1.6;
}

.form-area {
  margin: 1.5em 0;
}

.form-area-label {
  font-size: 0.625rem;
  color: #828282;
  display: block;
  margin-bottom: 0.4em;
}

.input-container {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 0.7em;
}

#email1,
#email2 {
  width: 80%;
  border: none;
  background-color: transparent;
  padding: 1em 1.5em;
  color: #a32626;
  /* color placeholder doesn't apply WHY????????*/
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.form__contact-btn {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
  background-color: #2d9cdb;
  margin: 0.2em;
  padding: 0.5em 1em;
  border-radius: 0.7em;
  border: none;
}

/* Services */

.services {
}

.services__specialization {
  padding: 1em 0;
}

.specialization-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1em 0;
}

.services__specialization p {
  color: #4f4f4f;
  font-weight: 400;
}

.specialization-btn {
  margin: 2em 0;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  font-weight: 500;
}

.frontend-specialization {
  border-radius: 0.7em;
  -webkit-box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
}

.action-btn {
  background-color: #2d9cdb;
  color: #ffffff;
}

/* Our works */
.our-works__portfolio {
  margin: 3em auto;
}

.our-works__portfolio__example {
  margin-top: 1.5em;
}

.our-works__portfolio__example__description {
  font-weight: 300;
  font-size: 0.75rem;
  color: #828282;
}

.our-works__portfolio__example__title {
  font-weight: 500;
  font-size: 1.125rem;
}

.see-more-btn {
  font-size: 1.125rem;
  border: none;
  background-color: transparent;
  color: #2d9cdb;
}

/* Team */
.team {
}

.team-copy-section {
  width: 80%;
}

.team-subheader {
  font-size: 1.125rem;
  color: #eb5757;
}

.team-header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.7em;
}
.team-copy-text {
  color: #4f4f4f;
  font-weight: 400;
}

.team-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto 3em;
}

.team-gallery-col-1 {
  width: 57%;
}
.team-gallery-col-2 {
  align-items: center;
  width: 40%;
}
.team-person1 {
  width: 85%;
  margin-bottom: -0.3em;
}

/* Testimonials */
.testimonials {
  margin-bottom: 8em;
}
.testimonials__copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}

.testimonials__image {
  width: 25%;
  border-radius: 0.7em;
}

.testimonials__person {
  width: 60%;
  margin-left: 1.5em;
}

.testimonials__person-name {
  font-size: 1.5rem;
}

.testimonials__person-position {
  font-size: 1.125rem;
  color: #828282;
}

/* Footer */
footer {
  background-color: #100e1d;
  color: #f2f2f2;
}

.footer-container {
  padding: 1.75em 2.1em;
  margin-bottom: 5em;
}

.footer__main {
}

.footer__list {
  list-style: none;
  margin-bottom: 3em;
}

.footer__list__item {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2.25;
}

.footer__socials {
  margin-bottom: 4em;
}

.footer__logo {
  font-weight: 800;
  font-size: 2.25rem;
}

.footer__social-list {
  display: flex;
  margin-left: -0.8em;
}

.footer__social-item {
  list-style: none;
  margin-left: 0.8em;
}
.footer__social-link {
  color: #f2f2f2;
}

.fab {
  font-size: 1.8rem;
}

.footer__signature {
  font-size: 0.875rem;
  display: block;
  text-align: center;
  margin: 2em auto 0;
  padding-bottom: 1em;
}
