*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
}

section {
  margin-top: 5em;
  margin-bottom: 3em;
}

.container {
  padding: 0 0.6em;
}

.inside-container {
  margin: 3em auto;
  width: 75%;
  border: 1px red solid;
}

.big-area__image {
  margin: 0.5em auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0.7em;
}

/* ----------------------------------------------------- */
/* SECTIONS */
/* ----------------------------------------------------- */

/* Header */
.header {
}

/* Hero */
.hero {
}

.title-area__subtitle {
  font-size: 0.75rem;
  color: #2d9cdb;
}

.headline {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
}

.hero__contact-area {
}

.hero__contact-area__copy {
  font-size: 0.75rem;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 1.6;
}

.form-area {
  margin: 1.5em 0;
}

.form-area-label {
  font-size: 0.625rem;
  color: #828282;
  display: block;
  margin-bottom: 0.4em;
}

.input-container {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 0.7em;
}

#email1 {
  width: 80%;
  border: none;
  background-color: transparent;
  padding: 1em 1.5em;
  color: #a32626;
  /* color placeholder doesn't apply WHY????????*/
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.form__contact-btn {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
  background-color: #2d9cdb;
  margin: 0.2em;
  padding: 0.5em 1em;
  border-radius: 0.7em;
  border: none;
}

/* Services */

.services {
  border: 1px green solid;
}

.services__specialization {
  padding: 1em 0;
}

.specialization-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1em 0;
}

.services__specialization p {
  color: #4f4f4f;
  font-weight: 400;
}

.specialization-btn {
  margin: 2em 0;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  border: none;
  background-color: #e0e0e0;
  color: #828282;
  font-weight: 500;
}

.frontend-specialization {
  border-radius: 0.7em;
  -webkit-box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 0px 36px -3px rgba(0, 0, 0, 0.75);
}

.action-btn {
  background-color: #2d9cdb;
  color: #ffffff;
}

/* Our works */
.our-works__portfolio {
  margin: 3em auto;
}

.our-works__portfolio__example {
  margin-top: 1.5em;
}

.our-works__portfolio__example__description {
  font-weight: 300;
  font-size: 0.75rem;
  color: #828282;
}

.our-works__portfolio__example__title {
  font-weight: 500;
  font-size: 1.125rem;
}

.see-more-btn {
  font-size: 1.125rem;
  border: none;
  background-color: transparent;
  color: #2d9cdb;
}
